<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-right" role="share">
        <div class="form-group">
          <label for="chat_link">Shareable URL: </label>
          <input type="text" class="form-control" placeholder="Search" id="chat_link">
        </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="waiting">Connecting to chat server...</div>
<div class="row">
  <div class="col-md-8">
  	<div id="conversation"></div>
  	<div id="submission">
		  <input type="text" placeholder="Type away...">
		</div>
  </div>
  <div class="col-md-4" id="sidebar">
    <p class="lead center-block" id="greeting_user"></p>
    <h3>User history</h3>
		<div id="user_history">
      <p><strong>Chatroom history</strong></p>
    </div>
  </div>
</div>
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Send video emoji</h4>
      </div>
      <div class="modal-body">
        <div id="second_counter"></div>
        <div id="webcam_stream"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="startVideo">Start recording</button>
        <button type="button" class="btn btn-default" id="cancelVideo" data-dismiss="modal">Do not send video</button>
        <button type="button" class="btn btn-primary" id="submitVideo">Send video</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="video_container"></div>